.projucts-section{
    padding: 40px 0 0 0;
    color: white;
    text-align: center;
    min-height: 710px;
}
.projucts-title{
    text-align: center;
    box-shadow: 0 -1px 15px -3px rgba(0,0,0,.2)!important;
    background: #fff;
    margin: auto;
    width:-webkit-fit-content ;
    width:-moz-fit-content ;
    width:fit-content ;
    border-radius: 10px 30px 30px 30px!important;
    padding: 6px 30px!important;
    font-weight: 400;
    font-size: 1.3em!important;
    color: #0d4d8f
}
.projucts-section .photo-div:hover{
    flex-grow: 2 !important;
}
.photo-div{
    cursor: pointer;
    position: relative;
    padding: 0 !important;
    margin: 40px 7.5px 0px 7.5px !important;
    transition: 0.5s;
}


.text-cont{
    position: absolute;
    text-align: left;
    padding: 20px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    bottom: 0;
    right: 0;
    left: 0;
    margin: 5px;
    transition: 1s;
}

@media(max-width: 992px){
    .photo-div:nth-child(2){
        display: none;
    }
}
.first-p::after{
    content: "";
    position: absolute;
    border-right: 1px solid white;
    top: 0;
    bottom: 0;
    right: 9%;
}
@media (max-width: 767px){
    .photo-div:nth-child(3){
        display: none;
    }
    .projucts-section .col:hover .second-p{
        width: 30%;
    }
    .projucts-section .col:hover .first-p{
        display: block;
        width: 70%;
    } 
}
.flex-div{
    transition: 1s;
}
.flex-div .first-p{
    width: 0;
    display: none;
    position: relative;
}
.second-p{
    width: 100%;
}

.projucts-section .col:hover .second-p{
    width: 40%;
}
.projucts-section .col:hover .first-p{
    display: block;
    width: 60%;
} 
@media (max-width: 577px){
    .first-p::after{
        content: "";
        border-right:none;
    }
    .flex-div{
        flex-direction: column;
    }
    .projucts-section .col:hover .second-p{
        width: 100%;
    }
    .projucts-section .col:hover .first-p{
        width: 100%;
    } 
}