
  .mav-steps{

    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 16px;
  }
  .mav-steps .step{
    flex: 1 1 0%;
    display: flex;
    align-items: center;
        flex-direction: row;
        padding: 16px;
        gap: 16px;
        background-color: rgb(228, 235, 242);
        border-radius: 8px;
  }
  .mav-steps .step .step-number{
    margin: 0;
  }
p{
  font-size: 14px;
}
.mav-steps .step .step-number span:nth-of-type(1){
  color: rgb(30, 65, 100);
  font-size: 26px;
  font-family: materialBold;
  line-height: 16px !important;
}
.mav-steps .step .step-number span:nth-of-type(2){
  color: rgb(33, 36, 39);
  font-family: materialLight;
}




.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 .swiper-slide img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;

}

.swiper .mySwiper2{
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px 0;
  background-image: url('./60cb1b1f20ce094363997129_gradient-bg-p-500.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.swiper-button-prev, .swiper-button-next {
  color: orange !important;
}
.mySwiper2 .swiper-slide {
  width: 25%;
  text-align: center;
  height: 400px !important;
  filter: grayscale(100%)
}
.mySwiper2 .swiper-slide-active  {
filter: none;
background-image: linear-gradient(180deg, transparent, transparent 50%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.75))
}
.swiper-free-mode>.swiper-wrapper{
  margin: 10px auto  !important;
}
.react-transform-wrapper{
  height: 100% !important;
  width: 100% !important;
} 
.react-transform-wrapper div{
  height: 100% !important;
  width: 100% !important;

} 